html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-container {
    width: 100%;
}

/* ⁄‰œ «·‘«‘«  «·’€Ì—…° ≈÷«›…  „—Ì— √›ﬁÌ */
@media (max-width: 992px) {
    .table-container {
        overflow-x: auto;
        display: block;
    }
}
